/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2019, 10:30:05 AM
    Author     : tania
*/

@font-face {
    font-family: novecento;
    src: url(./Fonts/Novecentosanswide-Book-webfont.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: gnu;
    src: url(./Fonts/gnuolane.ttf);
}
@font-face {
    font-family: bebas;
    src: url(./Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: billy;
    src: url(./Fonts/BillyOhio.ttf);
}
@font-face {
    font-family: coolvetica;
    src: url(./Fonts/coolvetica-rg.ttf);
}
@font-face {
    font-family: gloss;
    src: url(./Fonts/Gloss_And_Bloom.ttf);
}
@font-face {
    font-family: nomove;
    src: url(./Fonts/No-move.ttf);
}
@font-face {
    font-family: historia;
    src: url(./Fonts/TheHistoriaDemo.ttf);
}
@font-face {
    font-family: be;
    src: url(./Fonts/BeVietnam-Regular.ttf);
}

@font-face {
    font-family: hammer;
    src: url(./Fonts/HammersmithOne.ttf);
}
@font-face {
    font-family: ostrich;
    src: url(./Fonts/ostrich-regular.ttf);
}
@font-face {
    font-family: darker;
    src: url(./Fonts/DarkerGrotesque-Regular.ttf);
}
@font-face {
    font-family: free;
    src: url(./Fonts/FreeSans.ttf);
}
@font-face {
    font-family: raleway;
    src: url(./Fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: helvetica;
    src: url(./Fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: gotham;
    src: url(./Fonts/Gotham-Book-A.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(./Fonts/Gotham-Light.ttf);
}
@font-face {
    font-family: Gothic;
    src: url(./Fonts/CenturyGothic.ttf);
}
@font-face {
    font-family: calibri-regular;
    src: url(./Fonts/calibri-regular.ttf);
}
@font-face {
    font-family: arial-rounded;
    src: url(./Fonts/ARLRDBD.ttf);
}

.green-sea {background: #19be9b}
.nephritis {background: #2dc873}
.belize-hole {background: #3296dc;}
.wisteria {background: #9b5ab4;}
.orange {background: #f0c30f;}
.pumpkin {background: #e67d23;}
.pomegranate {background: #e64b3c;}

/*
TITULOS
<div style='font-family: novecento;'>1 Aviso program Avenger infinity war 14:38 /-($)!?</div>
<div style='font-family: bebas;'>2 Aviso program Avenger infinity war 14:38 /-($)!?</div>
GENERAL
<div style='font-family: poppins;'>3 Aviso program Avenger infinity war 14:38 /-($)!?</div>
<div style='font-family: gnu;'>4 Aviso program Avenger infinity war 14:38 /-($)!?</div>
<div style='font-family: coolvetica;'>5 Aviso program Avenger infinity war 14:38 /-($)!?</div>
TITULOS
<div style='font-family: nomove;'>6 Aviso program Avenger infinity war 14:38 /-($)!?</div>
<div style='font-family: regencie;'>7 Aviso program Avenger infinity war 14:38 /-($)!?</div>
<div style='font-family: gloss;'>8 Aviso program Avenger infinity war 14:38 /-($)!?</div>
TITULOS SIN SIMBOLOS
<div style='font-family: billy;'>9 Aviso program Avenger infinity war 14:38 /-($)!?</div>
TITULO SIN NUMEROS Y SIMBOLOS
<div style='font-family: historia;'>10 Aviso program Avenger infinity war 14:38 /-($)!?</div>
*/

body, html {
    background-color: transparent;
    background-image:url(tv:);
    background:url(tv:);
    -webkit-background-composite: clear;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    scrollbar-face-color: RGBA(255, 255, 255, 0.9);
    scrollbar-highlight-color: RGBA(255, 255, 255, 0.9);
    scrollbar-shadow-color: RGBA(255, 255, 255, 0.9);
    scrollbar-3dlight-color: RGBA(255, 255, 255, 0.9);
    scrollbar-arrow-color: RGBA(255, 255, 255, 0.9);
    scrollbar-track-color: RGBA(255, 255, 255, 0.9);
    scrollbar-darkshadow-color: RGBA(255, 255, 255, 0.9);
}

/* Div contenedor usado en la mayoria de templates*/
div.GeneralBox {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-size: 100% 100% !important;
}

div#DebugText {
    position: fixed;
    top: 0;
    width: 97%;
    height: 95%;
    padding: 1.5%;
    background: rgba(0, 0, 0, 0.4);
    text-align: left;
    font-family: be;
    display: none;
    z-index: 2;
}

div#DebugText p {
    margin: 0.5%;
    color: #0be116;
}
/***************************************** INDEX **************************************************/

/* Fondo blanco para index*/
div.BackgroundSolid {
    background-color: rgb(255, 255, 255);
}

/* Tamano logo index */
#Logo {
    width: 70%;
}

/* Texto index */
#CenterText { 
    font-size: 12pt;
    font-family: arial;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    margin: 0%;
    bottom: 10%;
    position: fixed;
    text-align: center;
    width: 100%;
}

#DebugText {
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 8%;
    position: fixed;
    color: white;
}

/* Contenedor index */

div.ContainerIndex {
    width: 100%;
    text-align: center;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/********************* INFO TV *****************************/

div#InfoContainer {
    width: 95%;
    left: 2.5%;
    bottom: 0;
    position: fixed;
    visibility: hidden;
    font-size: 20px;
    margin-bottom: 2%;
    color: #fff;
    height: 20%;
    /*border-radius: 6px;*/
}

div.ChannelNumber {
    width: 70%;
    float: left;
    text-align: left;
    font-weight: bold;
    padding-left: 3%;
}

div.Quality {
    width: 5%;
    float: left;
    text-align: center;
    padding-bottom: 0.5%;
}

div.ChannelName {
    width: 28%;
    float: left;
    padding-bottom: 0.5%;
}

div.Date {
    float: right;
    width: 52%;
    text-align: right;
    padding-right: 3%;
}

div.Title {
    padding-left: 3%;
    float: left;
    width: 57%;
    overflow: hidden;
    white-space: nowrap;

}

.RecInfo {
    margin: 0;
    color: #df778a;
    text-shadow: 3px 3px 4px #000;
    width: 2%;
    display: inline;
}

div.Duration {
    width: 15%;
    float: left;
    text-align: center;
}

div.Time {
    width: 22%;
    text-align: right;
    float: right;
    padding-right: 3%;
}

div.Description {
    width: 94%;
    padding: 0.5% 3% 0% 3%;
    float: right;
    text-align: justify;
    font-size: 20px;
}

/********************* CHANNEL TV *****************************/

div#ChannelNumber {
    font-size: 35px;
    padding: 4% 0% 0% 3%;
    position: fixed;
    width: 20%;
    text-align: center;
    font-weight: bold;
    color:#ffffff;
    text-shadow: 0.5px 0.5px 0.5px #6a6a6a;
}

/********************* DIGITAL CHANNEL *****************************/

#ContentFrame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
}

#ImageDigitalChannel{
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

div#DigitalChannel {
    z-index: 0;
    position: fixed;
    display: none;
}

div#InteractiveChannel{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222222;
    display: none;
}
div#InteractiveUsers{
    top: 30%;
    left: 6%;
    height: 28.5%;
    width: 80%;
    /* background: #ffffff; */
    position: absolute;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}
div#InteractiveUsersName{
    top: 50%;
    left: 10%;
    height: 28.5%;
    width: 80%;
    /* background: #ffffff; */
    position: absolute;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
[id*="User"]{
    /* position: relative;
    display: flex;
    background: #df778a; 
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%; */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /* background: #df778a; */
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;
    flex-direction: column;
}
[id*="InteractiveOption"]{
    position: relative;
    width: 15%;
    font-size: 130%;
    line-height: 270%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}
div#InteractiveLogo {
    position: relative;
    width: 18%;
    display: block;
    line-height: 270%;
    margin-left: 2%;
    margin-right: 2%;
}
img#InteractiveLogo{
    position: relative;
    width: 100%;
    display: block;
    object-fit: fill;
    object-position: center;
    line-height: 270%;
    margin-left: 2%;
    margin-right: 2%;
}
div#InteractiveText{
    position: relative;
    color: white;
    font-size: 250%;
    top: 10%;
    width: 50%;
    height: 10%;
    left: 24%;
    text-align: center;
}
div#SelectUsers{
    position: absolute;
    width: 100%;
    height: 100%;
}
.focusedItem{
    background: #ffffff6b;
    border: white solid 1px;
    border-radius: 5px;
}
span#InteractiveHeaderIcon{
    position: relative;
    top: 8%;
    height: 80%;
    background: #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 400%;
    line-height: 200%;
    right: 5%;
    width: 5%;
    margin-left: 1%;
    border-radius: 50%;
}
.addUser{
    
}
.UserFocused{
    background: #6a6a6a;
}
div#noRecords{
    position: absolute;;
    width: 90%;
    height: 75%;
    left: 5%;
    color: white;
    background: #212121;
    font-size: 200%;
    line-height: 500%;
    text-align: center;
}
div#usersName{
    position: absolute;
    font-size: 200%;
    color: white;
    width: 100%;
    bottom: 0%;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: -ms-center;
}
.dot {
    position: absolute;
    height: 80%;
    color: #ffffff;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: -ms-center;
    font-size: 400%;
    line-height: 200%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* border-radius: 50%; */
}
div#InteractiveAddUser{
    display: none;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 0%;
}

div#AddText{
    position: relative;
    top: 25%;
    left: 10%;
    background: black;
    color: white;
    width: 80%;
    height: 10%;
    font-size: 200%;
    line-height: 170%;
    border-radius: 10px;
    border: white solid 1px;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
}
div#InteractiveSearchBox{
    position: absolute;
    z-index: 20;
    top: 10%;
    background: black;
    color: white;
    width: 100%;
    height: 80%;
    font-size: 150%;
    line-height: 180%;
    border-radius: 10px;
    border: white solid 1px;
    display: none;
}
div#InteractiveChannelMain{
    width: 100%;
    height: 100%;
    display: none;
}
div#InteractiveHeader{
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: absolute;
    background: #132f3a;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
div#numberChannelInt{
    position: absolute;
    top: 65%;
    height: 10%;
    left: 5%;
    width: 100%;
    font-size: 150%;
    line-height: 85%;
    /* text-align: center; */
    color: white;
}
div#nameChannelInt{
    position: absolute;
    top: 55%;
    height: 10%;
    left: 5%;
    width: 90%;
    font-size: 120%;
    line-height: 85%;
    color: white;
}

div#numberRecordInt{
    position: absolute;
    top: 52%;
    height: 10%;
    left: 5%;
    width: 90%;
    font-size: 120%;
    line-height: 85%;
    color: white;   
}
div#nameRecordInt{
    position: absolute;
    top: 63%;
    height: 32%;
    left: 5%;
    width: 90%;
    font-size: 150%;
    line-height: 85%;
    overflow: hidden;
    /* text-align: center; */
    color: white;
}
div#OptionsHeader{
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

div#InteractivePopularChannel{
    position: relative;
    top: 11%;
    width: 100%;
    height: 40%;
    background: #132f3a;
}
div#InteractiveLastRecords{
    position: relative;
    top: 12%;
    width: 100%;
    height: 45%;
    background: #132f3a;
}
div#InteractiveLastRecordsTittle{
    position: relative;
    top: 1%;
    left: 2%;
    width: 80%;
    height: 16%;
    font-size: 150%;
    color: white;
}
div#InteractivePopularChannelTittle{
    position: relative;
    top: 1%;
    left: 2%;
    width: 80%;
    height: 20%;
    font-size: 150%;
    color: white;
}
.popularChannel{
    position: relative;
    width: 18%;
    background: #246681;
    border-radius: 5px;  
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}
.ChannelLogo {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 40%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    float: left;
}
.lastRecord{
    position: relative;
    width: 18%;
    background: #246681;
    border-radius: 5px;  
    height: 97%; 
    margin-left: 1%;
    margin-right: 1%;
}
div#showResults{
    position: absolute;
    display: none;
    height: 74%;
    width: 40%;
    border-radius: 10px;
    left: 30%;
    top: 5%;
    background: black;
    border: white solid 1px;
    z-index: 20;
    
}
.Result{
    position: relative;
    /* display: flex; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 10.95%;
    width: 100%;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: white;
    border: white solid 1px;
    z-index: 20;
    margin-bottom: 1.9%;
}
.ResultFocus{
    background: rgb(255, 255, 255);
    color: black;
}
div#ResultChannel{
    position: relative;;
    height: 100%;
    width: 15%;
    font-size: 150%;
    margin-left: 5%;
    font-size: 130%;
    line-height: 265%;
    color: white;

}
div#ResultName{
    position: relative;
    height: 100%;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    overflow: hidden;
    color: white;
    line-height: 330%;
}
div#ResultHours{
    position: relative;
    height: 100%;
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: white;

    line-height: 330%;
}

div#InteractivePopularChannelImg{
    width: 100%;
    height: 78%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    /* justify-content: space-evenly; */
}
div#InteractiveLastRecordsImg{
    width: 100%;
    height: 83%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;   
    justify-content: space-around;
}
/******************************* KEYBOARD *******************************/

div#keyboard{
    position: absolute;
    display: none;
    bottom: 25%;
    border-radius: 0.8em;
    height: 30%;
    width: 60%;
    right: 20%;
    z-index: 10;
    background: #353535;
}
div#keyboard1{
    position: relative;
    top: 8%;
    width: 100%;
    height: 16%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-left: 1%;
    vertical-align: middle;
    justify-content: space-around;
}
div#keyboard2{
    position: relative;
    top: 15%;
    left: 10%;
    width: 90%;
    height: 16%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
}
div#keyboard3{
    position: relative;
    top: 22%;
    width: 80%;
    left: 17%;
    height: 16%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    vertical-align: middle;
    justify-content: space-around;
}
div#keyboard4{
    position: relative;
    top: 29%;
    left: 7.5%;
    width: 100%;
    height: 15%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    vertical-align: middle;
    justify-content: space-around;
}
.button{
    background: #434343;
    color: #3087ba;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    line-height: 4vh;
    width: 7.28%;
    font-size: 2.2vh;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
}
.buttonSelected{
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    line-height: 4vh;
    width: 7.5%;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 2.2vh;
    display: inline-block;
    text-align: center;
}
.buttonSpace{
    background: #434343;
    color: #3087ba;
    border-radius: 0.3em;
    width: 60%;
    font-size: 2.2vh;
    line-height: 4vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    text-align: center;
}
.buttonSearch{
    background: #434343;
    color: #3087ba;
    border-radius: 0.2em;
    border: 3vh;
    width: 17%;
    line-height: 4vh;
    font-size: 2.2vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;

    text-align: center;
}
.buttonSelect{
    background: #434343;
    color: #3087ba;
    border-radius: 0.2em;
    border: 3vh;
    width: 17%;
    line-height: 4vh;
    font-size: 2.2vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    text-align: center;
}


.buttonSpaceSelected{
    background: #fff;
    color: #000;
    border-radius: 0.2em;
    width: 60%;
    font-size: 2.2vh;
    line-height: 4vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    text-align: center;
}
.buttonSearchSelected{
    background: #fff;
    color: #000;
    border-radius: 0.2em;
    border: 3vh;
    width: 17%;
    line-height: 4vh;
    font-size: 2.2vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    text-align: center;
}
.buttonSelectSelected{
    background: #fff;
    color: #000;
    border-radius: 0.2em;
    border: 3vh;
    width: 17%;
    line-height: 4vh;
    font-size: 2.2vh;
    border-style: solid;
    border-width: 1px;
    border-color: #3087ba;
    text-align: center;
}
