@font-face {
    font-family: BebasNeue;
    src: url(../../../Styles/Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Landas;
    src: url(../../../Styles/Fonts/LandasansMedium-ALJ6m.otf);
}
@font-face {
    font-family: SalmaPro;
    src: url(../../../Styles/Fonts/SalmaproMedium-0Wooo.otf);
}
@font-face {
    font-family: Amazon;
    src: url(../../../Styles/Fonts/Amazon-Ember.ttf);
}
@font-face {
    font-family: AmazonLight;
    src: url(../../../Styles/Fonts/AmazonLight.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../../Styles/Fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(../../../Styles/Fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../../../Styles/Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Diam;
    src: url(../../../Styles/Fonts/Diam.otf);
}
#contentPanel{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -20;
    justify-content: space-evenly;
    background: #181818;
    --aspect-ratio: 16/9;
}
#header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 8%;
    position: absolute;
    width: 64%;
}
#headerlogo{
    display: block;
    position: relative;
    top: 26%;
    left: 8%;
    height: 80%;
    width: 30%;
    color: white;
    font-family: Roboto;
    line-height: 360%;
    font-size: 108%;
}
#logo{
    width: 132%;
}
#headeroptions{
    font-family: Landas;
    font-size: 110%;
    display: -webkit-box;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30%;
    top: 65%;
    left: w;
    width: 42%;
    letter-spacing: 3px;
}
.headeroption{
    color: white;
    height: 120%;
    width: 15%;
    text-align: center;
    margin-left: 10%;
    border-radius: 3px;
    line-height: 100%;
}
.headeroptionSelected{
    border-bottom: 2px solid #C00;
}
.headeroptionFocused{
    background: rgba(255, 255, 255, 0.325);
}
#suggestedMovie{
    position: relative;
    display: inline-block;
    /* border: 2px solid #C00; */
    margin-top: -5%;
    width: 100%;

    height: 48%;
}
#degraded{
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
}
#bannerMovie{
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
}
#suggestedMovieTitle{
    position: relative;
    font-family: BebasNeue;
    font-size: 200%;
    color: #C00;
    top: 31%;
    margin-left: 5%;
    max-height: 30%;
    height: 12%;
    width: 50%;
    overflow: hidden;
    z-index: 0;
}
#suggestedMovieDescription{
    position: absolute;
    font-family: Amazon;
    text-align: justify;
    color: white;
    top: 44%;
    left: 5%;
    height: 25%;
    width: 30%;
    overflow: hidden;
    z-index: 0;
}
#suggestedMoviePlay{
    width: 10%;
    height: 9%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    background: #C00;
    line-height: 210%;
    color: white;
    border-radius: 5px;
    left: 5%;
    top: 77%;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}
#suggestedMovieplayicon{
    position: relative;
    margin-top: 4%;
    height: 77%;
}

#genders{
    color:white;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Amazon;
    justify-content: space-evenly;
    background: #181818;
    height: 8%;
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid black;
    font-size: 100%;
}
.gender{
    line-height: 280%;
    margin-right: 5%;
    text-align: center;
    width: 10%;
}
.genderSelected{
    border-bottom: 2px solid #C00;
}
.genderFocused{
    background: rgba(255, 255, 255, 0.325);
}
#videoContent{
    height: 47%;
    width: 95%;
    margin-left: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
}
.focusVideoContent{
    height: 65%;
    margin-top: 5%;
    width: 40%;
    margin-right: 2%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px #434343;
}
#imgfocusVideoContent{
    position: relative;
    width: 30%;
    height: 100%;
}
#divContentText{
    position: relative;
    width: 70%;
    height: 100%;
}
#descfocusVideoContent{
    position: relative;
    color: white;
    height: 51%;
    width: 84%;
    overflow: hidden;
    left: 8%;
    top: 21%;
    font-size: 104%;
    font-family: RobotoLight;
    text-align: justify;
}
#titlefocusVideoContent{
    position: absolute;
    color: red;
    width: 85%;
    height: 12%;
    overflow: hidden;
    top: 5%;
    left: 8%;
    font-size: 130%;
    font-family: Roboto;
}
.movie{
    position: relative;
    height: 65%;
    width: 12%;
    margin-top: 5%;
    margin-right: 2%;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px #434343;
}
#imgVideoContent{
    position: relative;
    width: 100%;
    height: 100%;
}
.suggestedMoviePlayFocused { 
    background:rgb(179, 74, 74) !important;
}



#selectedContent{
    position: absolute;
    display: none;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    --aspect-ratio: 16/9;
    z-index: -12;
}
#selectedContent1{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -11;
}
#posterSelected{
    position: absolute;
    width: 20%;
    height: 52%;
    border: 1px solid white;
    top: 10%;
    left: 14%;
}
#imgposterSelected{
    position: relative;
    width: 100%;
    height: 100%;
}
#titleSelected{
    position: absolute;
    color: white;
    font-size: 200%;
    top: 14%;
    left: 37%;
    width: 45%;
    height: 5%;
    overflow: hidden;
    font-family: Diam;
}
#previewContent{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -13;
    background-size: cover;
    background-repeat: no-repeat;
}
#infoSelected{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    color: rgb(183, 183, 183);
    font-size: 100%;
    margin-top: 13%;
    width: 35%;
    left: 37%;
}
#infoYearSelected{
    margin-right: 2%;
}
#infoClasificacionSelected{
    margin-right: 2%;
    border-width: 2%;
    border-style: solid;
    border-color: rgb(183, 183, 183);
}
#infoDurationSelected{
    margin-right: 2%;
}
#infoDescriptionSelected{
    color: white;
    text-align: justify;
    position: absolute;
    margin-top: 17%;
    width: 35%;
    left: 37%;
    font-family: Amazon;
}
#temporadas{
    position: absolute;
    width: 17%;
    height: 40%;
    top: 10%;
    right: -1%;

}
[id*="Season"] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
    color: white;
    font-size: 200%;
    padding: 2%;
    margin-bottom: 10%;
    justify-content: space-between;
}
.SeasonSelected{
    border-radius: 5px;
    background: #9a9a9a;
}
#titleSeasNum{
    position: relative;
    color: white;
    font-size: 150%;
    top: 73%;
    left: 10%;
    width: 30%;
    height: 6%;
    font-family: BebasNeue;
}
#chapters{
    z-index: -8;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 84%;
    color: white;
    margin-left: 10%;
    top: 80%;
}

[id*="Chapter"]{
    font-family: BebasNeue;
    margin-right: 5%;
    width: 10%;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 100%;
}
.ChapterSelected{
    background: #6b6b6b;
    /* width: 49%; */
    /* height: 100%; */
}

#PlayingPanel{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* background: #181818; */
}
#seasUp {
    display: none;
    color: white;
    font-size: 300%;
    right: 11.5%;
    top: 2%;
    position: absolute;
}
#seasDown {
    display: none;
    color: white;
    font-size: 300%;
    right: 11.5%;
    bottom: 28%;
    position: absolute;
}
#chapLeft {
    /* display: none; */
    color: white;
    font-size: 300%;
    left: 6%;
    bottom: 12.7%;
    position: absolute;
}
#chapRight {
    color: white;
    font-size: 300%;
    right: 3%;
    bottom: 12.7%;
    position: absolute;
}
#custom-seekbar{  
    cursor: pointer;
    height: 0.5%;
    margin-top: 48%;
    border-radius: 5px;
    background: gray;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin-left: 4%;
}
#custom-seekbar span
{
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 0%;
}
#custom-seekbar span.hover:after{
    content: '■';
    display:block;
    position: absolute;
    background-color: red;
    color: red;
    top: 0;
    right: 0;
  }
#timeProgress{
    position: absolute;
    height: 4%;
    color: white;
    border-radius: 5px;
    width: 15%;
    margin-left: 86%;
    margin-top: -0.5%;
}
#buttonSubtitles{
    position: absolute;
    width: 3%;
    bottom: 6%;
    right: 18%;
}
#buttonBackward{
    position: absolute;
    width: 3%;
    bottom: 6%;
    right: 54%;
}
#buttonPlayPause{
    position: absolute;
    width: 3%;
    bottom: 6%;
    right: 48.5%;
}
#buttonForward{
    position: absolute;
    width: 3%;
    bottom: 6%;
    right: 43%;
}
#buttonClose{
    position: absolute;
    width: 3%;
    top: 6%;
    right: 10%;
}
#infoPlaying{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0%;
    height: 18%;
    width: 100%;
}
#titlePlaying{
    position: absolute;
    top: 15%;
    left: 6%;
    font-family: BebasNeue;
    font-size: 200%;
    color: white;
}
#ratingPlaying{
    color: white;
    position: absolute;
    top: 50%;
    left: 6%;
    font-family: BebasNeue;
    font-size: 100%;
}
.buttonFocused{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 2px;
}
#languagesPanel{
    position: absolute;
    display: none;
    width: 20%;
    height: auto;
    background: #434343;
    color: white;
    right: 10%;
    bottom: 20%;
    border-radius: 5px;
}
#subtitles{
    position: relative;
    width: 50%;
    border-right: 1px solid rgb(255, 255, 255);
}
#audio{
    position: relative;
    width: 50%;
    border-left: 1px solid rgb(255, 255, 255);
}
#audioTitle{
    color: red;
    padding: 2px;
    padding-top: 10px;
    font-family: SalmaPro;
    text-align: center;
}
#subtitlesTitle{
    color: red;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    font-family: SalmaPro;

}
[id*="subtitles_"]{
    color: white;
    padding: 5px;
    font-family: SalmaPro;

}
[id*="audio_"]{
    color: white;
    padding: 5px;
    font-family: SalmaPro;
}
.languageFocus{
    background: #9a9a9a;
}
.languageSelected{
    border-width: 2px;
    border-bottom: red solid;
}
#PruebaMovie{
    position: absolute;;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -11;
}
#PruebaMovie1{
    position: absolute;;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -11;
}